body {
  font-family: monospace;
  background-color: #222;
  color: #eee; 
  padding-bottom: 20rem;
  text-align: center;
}

a {
  text-decoration: none; 
  color: #acf;
  &:hover {
    text-decoration: underline;
  }
}

input {
  background-color: #0008;
  color: #eee; 
}
